<div class="calendar">
    <!-- <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker> -->
    <h3>Calendar <span class="glyphicon glyphicon-calendar"></span></h3>
    <mat-calendar [dateClass]="dateClass"
        class="mat-calendar ng-tns-c2024481049-17 ng-trigger ng-trigger-fadeInCalendar" id="mat-datepicker-0"
        ng-reflect-start-at="Thu Jun 05 2025 00:00:00 GMT+0" ng-reflect-start-view="month"
        ng-reflect-selected="Thu Jun 05 2025 00:00:00 GMT+0" style="opacity: 1;"><mat-calendar-header
            class="ng-star-inserted">
            <div class="mat-calendar-header">
                <div class="mat-calendar-controls"><span aria-live="polite" class="cdk-visually-hidden"
                        id="mat-calendar-period-label-1">DEC 2024</span><button mat-button="" type="button"
                        class="mat-calendar-period-button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
                        mat-ripple-loader-class-name="mat-mdc-button-ripple" aria-label="Choose month and year"
                        aria-describedby="mat-calendar-period-label-1"><span
                            class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                            class="mdc-button__label"><span aria-hidden="true">DEC 2024</span><svg viewBox="0 0 10 5"
                                focusable="false" aria-hidden="true" class="mat-calendar-arrow">
                                <polygon points="0,0 5,5 10,0"></polygon>
                            </svg></span><span class="mat-focus-indicator"></span><span
                            class="mat-mdc-button-touch-target"></span><span
                            class="mat-ripple mat-mdc-button-ripple"></span></button>
                    <div class="mat-calendar-spacer"></div><button mat-icon-button="" type="button"
                        class="mat-calendar-previous-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                        mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-centered=""
                        ng-reflect-disabled="false" aria-label="Previous month"><span
                            class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><svg
                            viewBox="0 0 24 24" focusable="false" aria-hidden="true">
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg><span class="mat-focus-indicator"></span><span
                            class="mat-mdc-button-touch-target"></span><span
                            class="mat-ripple mat-mdc-button-ripple"></span></button><button mat-icon-button=""
                        type="button"
                        class="mat-calendar-next-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                        mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-centered=""
                        ng-reflect-disabled="false" aria-label="Next month"><span
                            class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><svg
                            viewBox="0 0 24 24" focusable="false" aria-hidden="true">
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg><span class="mat-focus-indicator"></span><span
                            class="mat-mdc-button-touch-target"></span><span
                            class="mat-ripple mat-mdc-button-ripple"></span></button>
                </div>
            </div>
        </mat-calendar-header><!--bindings={
"ng-reflect-portal": "[object Object]"
}-->
        <div cdkmonitorsubtreefocus="" tabindex="-1" class="mat-calendar-content"><mat-month-view
                ng-reflect-active-date="Thu Dec 05 2024 00:00:00 GMT+0"
                ng-reflect-selected="Thu Jun 05 2025 00:00:00 GMT+0" class="ng-star-inserted">
                <table role="grid" class="mat-calendar-table">
                    <thead class="mat-calendar-table-header">
                        <tr>
                            <th scope="col" class="ng-star-inserted"><span
                                    class="cdk-visually-hidden">Sunday</span><span aria-hidden="true">S</span>
                            </th>
                            <th scope="col" class="ng-star-inserted"><span
                                    class="cdk-visually-hidden">Monday</span><span aria-hidden="true">M</span>
                            </th>
                            <th scope="col" class="ng-star-inserted"><span
                                    class="cdk-visually-hidden">Tuesday</span><span aria-hidden="true">T</span>
                            </th>
                            <th scope="col" class="ng-star-inserted"><span
                                    class="cdk-visually-hidden">Wednesday</span><span aria-hidden="true">W</span></th>
                            <th scope="col" class="ng-star-inserted"><span
                                    class="cdk-visually-hidden">Thursday</span><span aria-hidden="true">T</span>
                            </th>
                            <th scope="col" class="ng-star-inserted"><span
                                    class="cdk-visually-hidden">Friday</span><span aria-hidden="true">F</span>
                            </th>
                            <th scope="col" class="ng-star-inserted"><span
                                    class="cdk-visually-hidden">Saturday</span><span aria-hidden="true">S</span>
                            </th><!--container-->
                        </tr>
                        <tr aria-hidden="true">
                            <th colspan="7" class="mat-calendar-table-header-divider"></th>
                        </tr>
                    </thead>
                    <tbody mat-calendar-body="" class="mat-calendar-body" ng-reflect-label="DEC"
                        ng-reflect-rows="[object Object],[object Object" ng-reflect-today-value="1750712400000"
                        ng-reflect-start-value="1749070800000" ng-reflect-end-value="1749070800000"
                        ng-reflect-is-range="false" ng-reflect-label-min-required-cells="3" ng-reflect-active-cell="4">
                        <tr aria-hidden="true" class="ng-star-inserted">
                            <td class="mat-calendar-body-label" colspan="7"
                                style="padding-top: 7.14286%; padding-bottom: 7.14286%;"> DEC </td>
                        </tr><!--container-->
                        <tr role="row" class="ng-star-inserted"><!--container-->
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="0" data-mat-col="0"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 1, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 1
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="0" data-mat-col="1"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 2, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 2
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="0" data-mat-col="2"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 3, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 3
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="0" data-mat-col="3"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 4, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 4
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="0" data-mat-col="4"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell mat-calendar-body-active"
                                    ng-reflect-ng-class="[object Object]" tabindex="0" aria-label="December 5, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 5
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="0" data-mat-col="5"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 6, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 6
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="0" data-mat-col="6"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 7, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 7
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <!--container-->
                        </tr>
                        <tr role="row" class="ng-star-inserted"><!--container-->
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="1" data-mat-col="0"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 8, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 8
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="1" data-mat-col="1"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 9, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 9
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="1" data-mat-col="2"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 10, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 10
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="1" data-mat-col="3"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 11, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 11
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="1" data-mat-col="4"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 12, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 12
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="1" data-mat-col="5"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 13, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 13
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="1" data-mat-col="6"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 14, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 14
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <!--container-->
                        </tr>
                        <tr role="row" class="ng-star-inserted"><!--container-->
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="2" data-mat-col="0"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 15, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 15
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="2" data-mat-col="1"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 16, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 16
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="2" data-mat-col="2"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 17, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 17
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="2" data-mat-col="3"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 18, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 18
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="2" data-mat-col="4"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 19, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 19
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="2" data-mat-col="5"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 20, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 20
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="2" data-mat-col="6"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 21, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 21
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <!--container-->
                        </tr>
                        <tr role="row" class="ng-star-inserted"><!--container-->
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="3" data-mat-col="0"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 22, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 22
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="3" data-mat-col="1"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 23, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 23
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="3" data-mat-col="2"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 24, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 24
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="3" data-mat-col="3"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 25, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 25
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="3" data-mat-col="4"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 26, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 26
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="3" data-mat-col="5"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 27, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 27
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="3" data-mat-col="6"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 28, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 28
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <!--container-->
                        </tr>
                        <tr role="row" class="ng-star-inserted"><!--container-->
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="4" data-mat-col="0"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 29, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 29
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="4" data-mat-col="1"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 30, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 30
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <td role="gridcell" class="mat-calendar-body-cell-container ng-star-inserted"
                                data-mat-row="4" data-mat-col="2"
                                style="width: 14.2857%; padding-top: 7.14286%; padding-bottom: 7.14286%;">
                                <button type="button" class="mat-calendar-body-cell"
                                    ng-reflect-ng-class="[object Object]" tabindex="-1" aria-label="December 31, 2024"
                                    aria-pressed="false"><span
                                        class="mat-calendar-body-cell-content mat-focus-indicator"> 31
                                    </span><span aria-hidden="true"
                                        class="mat-calendar-body-cell-preview"></span></button>
                            </td>
                            <!--container-->
                        </tr><!--container--><span class="mat-calendar-body-hidden-label"
                            id="mat-calendar-body-start-1">
                        </span><span class="mat-calendar-body-hidden-label" id="mat-calendar-body-end-1">
                        </span><span class="mat-calendar-body-hidden-label" id="mat-calendar-body-comparison-start-1">
                            Comparison range
                        </span><span class="mat-calendar-body-hidden-label" id="mat-calendar-body-comparison-end-1">
                            Comparison range
                        </span>
                    </tbody>
                </table>
            </mat-month-view><!--container--><!--container--><!--container--></div>
        <!-- <div *ngFor="let date of dates" [ngStyle]="{'background-color':highlight }"></div> -->
    </mat-calendar>

    <div class="keep-date">
        <button class="keep" (click)="openDateRangePicker()">שמירת תאריכים</button>
        <div *ngIf="isPickerOpen">
            <form [formGroup]="dateRangeForm">
                <label for="startDate">Start Rent:</label>
                <input type="date" formControlName="startDate" id="startDate">
                <br>
                <label for="endDate">End Rent:</label>
                <input type="date" formControlName="endDate" id="endDate">
                <button class="save" (click)="saveDateRange()">Save</button>
            </form>
        </div>
    </div>

    <!-- <mat-form-field >
        <mat-label  class="saveDates">Enter a date range</mat-label>
        <mat-date-range-input   class="mat-calender-table table2" [formGroup]="range" [rangePicker]="picker">
          <input  class="saveDates" matStartDate formControlName="start" placeholder="Start date">
          <input  class="saveDates" matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint  class="saveDates">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle class="saveDates" matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker  class="saveDates" #picker></mat-date-range-picker>
      
        @if (range.controls.start.hasError('matStartDateInvalid')) {
          <mat-error>Invalid start date</mat-error>
        }
        @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field> -->
</div>