# ---- Angular ----
client-end/node_modules/
client-end/dist/
client-end/.angular/
client-end/.env
client-end/.vscode/
client-end/package-lock.json

# ---- Python ----
server/__pycache__/
server/*.py[cod]
server/.venv/
server/env/
server/.env
server/.pytest_cache/
server/.mypy_cache/
server/.vscode/
server/config.json

# ---- System files ----
*.log
*.DS_Store
Thumbs.db

# ---- IDE configs ----
.vscode/
.idea/
