<div class="container">

  <h2>ברוך הבא לאתר הדירות שלנו</h2>
  <h3>פה תמצאו את הדירה המושלמת ביותר עבורכם</h3>
  <br> <br><br> <br>
  <div class="rect">
    <div class="one-box" style="border: 5px rgb(162, 109, 11) solid;">
      <img [src]="pathImg('tzimer')" />
      <div class="divColor1" [innerText]="tzimer"></div>
      <div class="content-div" [innerText]="contentTzimer"></div>
    </div>
    <div class="one-box" style="border: 5px rgb(74, 15, 114) solid;">
      <img [src]="pathImg('pool')" />
      <div class="divColor2" [innerText]="pool"></div>
      <div class="content-div" [innerText]="contentPool"></div>
    </div>
    <div class="one-box" style="border: 5px rgb(22, 114, 14) solid;">
      <img [src]="pathImg('attraction')" />
      <div class="divColor3">אטרקציות</div>
    </div>
    <div class="one-box" style="border: 5px rgb(21, 98, 109) solid;">
      <img [src]="pathImg('home')" />
      <div class="divColor4" [innerText]="vilag"></div>
      <div class="content-div" [innerText]="contentVilag"></div>
    </div>
  </div>
</div>