<!-- <br><br><br>

<div>
    <div class="title">סטטוס הדירות שלך</div>
    <div class="container">
        <div class="add-apartment">
            <button class="btn-add" [innerText]="'הוספת דירה'" (click)="addApartment()"></button>
            @if(isAdd){
            <button class="submit" [innerText]="'אישור'"></button>
            <div class="feature-selection">
                <div *ngFor="let feature of features">
                    <label>
                        <input type="checkbox" [(ngModel)]="feature.selected" />
                        {{ feature.name }}
                    </label>
                </div>
            </div>
            <div class="feature-selection">
                <div *ngFor="let i of input let idx = index">
                    <input class="input-add" type="number" placeholder="{{i.name}}">
                </div>
            </div>
            }
        </div>
        <div class="left-column">
            @for(a of apartments;track a){
            <div class="rectangle-container">
                <div class="rectangle-content">
                    <span class="address" [innerText]="a.address"></span>
                    <br>
                    <span [innerText]="'קומה '"></span>
                    <span [innerText]="a.numFloor"></span>
                    <span [innerText]="' ★ '"></span>
                    <span [innerText]="a.numRooms "></span>
                    <span [innerText]="' חדרים'"></span>
                    <span [innerText]="' ★ '"></span>
                    <span [innerText]="a.numBeds"></span>
                    <span>&nbsp;</span>
                    <span [innerText]="'מיטות'"></span>
                    <br><br>
                    <div class="add">
                        @if(a.park){
                        <span class="description" [innerText]="'חניה'"></span>
                        }
                        @if(a.elevator){
                        <span class="description" [innerText]="'מעלית'"></span>
                        }
                        @if(a.porch
                        ){
                        <span class="description" [innerText]="'מרפסת'"></span>
                        }
                        @if(a.accessibleness){
                        <span class="description" [innerText]="'נגישות'"></span>
                        }
                    </div>
                    <div class="price">
                        <span [innerText]="a.priceToBed | currency: 'ILS'"></span>
                    </div>
                </div>
                <span *ngFor="let img of a.images;let i=index">
                    <img [src]="img" alt="Image" class="rectangle-image" />
                </span>
                <span class="glyphicon glyphicon-calendar calendar-icon" (click)="openCalendar()"></span>
            </div>
            }
        </div>

    </div>
</div> -->








    <h2>הדירות שלי</h2>
    <ng-container *ngIf="apartments?.length; else empty">
      <div class="apartment" *ngFor="let a of apartments">
        <div class="meta">
          <div>{{ a.address }}</div>
          <div>חדרים: {{ a.numRooms }} | מיטות: {{ a.numBeds }}</div>
        </div>
        <div class="images">
          <img *ngFor="let img of a.images | slice:0:2"
               [src]="'assets/images/apartment/' + img"
               class="thumb" />
        </div>
      </div>
    </ng-container>
    <ng-template #empty>
      <div>אין דירות להצגה.</div>
    </ng-template>

