<div class="dialog-container">
    <div class="dialog-header">
        <span class="close-button" (click)="close()">X</span>
        <h2 class="dialog-title">מחירים</h2>
    </div>
    <div class="dialog-content">
        <div class="dialog-item" *ngFor="let item of prices; let i = index" [ngClass]="{'wide': i % 12 === 0}">
            {{ item }}
            <!-- <img [src]="pathImg('soragim')"/> -->
        </div>
    </div>
    <div class="dialog-footer">
        <button class="confirm-button">אישור</button>
    </div>
</div>